[2016-06-03 19:29] buildersbrewery opened #1 "Installation steps"
#### Referring to the README

Actually, if the only point in using the [makopo/sublime-text-lsl](https://github.com/makopo/sublime-text-lsl) package is to add the included binaries to one's PATH, then simply downloading them from [makopo/lslint](https://github.com/makopo/lslint) (more up-to-date than the original [pclewis/lslint](https://github.com/pclewis/lslint)) should do, too.

Anyway, you cou

[2016-06-03 19:32] XenHat commented on #1
The binaries are not the only point, as I do not provide the `lsl` and `ossl` file format/syntax definitions, in respect and hommage to the original work. Those definitions are somewhat required for the linter to function intuitively and the plugin was developed without the ambition of removing `lslint` as a dependency. I did not intent **SublimeLinter-contrib-lslint** to be a self-contained packa

[2016-06-03 19:35] buildersbrewery commented on #1
Fair enough.

[2016-06-03 19:37] XenHat commented on #1
I edited my previous comment with further explanation. I will look into git modules, I wasn't aware of their existence.

[2016-06-03 19:43] buildersbrewery commented on #1
Random example: [ajaxorg/ace](https://github.com/ajaxorg/ace)

References there:
- `./.gitmodules`
  - `./build`
  - `./doc/wiki`

[2016-06-03 19:46] buildersbrewery commented on #1
Documentation:
- commands: https://git-scm.com/docs/git-submodule
- explanation: https://git-scm.com/docs/gitmodules
- tools and nice-to-know stuff: https://git-scm.com/book/en/v2/Git-Tools-Submodules

[2016-06-04 16:57] buildersbrewery commented on #1
#### Another idea

You could also copy only the binaries, readme and license of [makopo/lslint](https://github.com/makopo/lslint) to another repo and publish that repo as a [PackageControl dependency](https://packagecontrol.io/docs/dependencies), then add a `dependencies.json` file to the root of this repo:

[code]

See the `Examples` section on the linked page and compare that to your `./Data/Pac

[2016-06-04 17:16] XenHat commented on #1
A better solution in my eyes than the git subrepo, thank you for the suggestion. I'll see what I can do.

[2016-06-04 19:10] XenHat commented on #1
Well the problem with any approach is that I can't seem to automatically configure the path for the binaries. Perhaps Sublime Text itself can see dependencies installed, but SublimeLinter seems incapable of doing so.

[2016-06-05 01:22] buildersbrewery commented on #1
Yeah, sorry if my first post was messed up.

Users will still need to add the binaries to path **themselves** anyhow. I was only stating that you could shortcut the steps up until that last one, by including the binaries here or maybe trying the dependencies workaround.

[2016-06-05 01:34] buildersbrewery commented on #1
Looking through the contribution packages of SublimeLinter I notice that none of them (couple I looked through in the last 10 mins) actually binaries or language grammar, completions, tooltips or what-not.

Maybe if you'd prefer sticking with the setup of those others, then leave it as it was? No binaries or other stuff included?

Whoever gets this far to use a sublimelinter add-on, can figure out

[2016-06-05 01:37] buildersbrewery commented on #1
If you need help, give a shout :+1:

[2016-06-05 05:49] XenHat commented on #1
I don't really want to close this, I don't see a way to truly resolve this and it makes a good piece of conversation. I have hereby added the required label.

I added the definitions in the package in case new users did not already have LSL language installed (such as users coming here from Second Life after learning that Sublime Text could do LSL compiling/linting). I would include the binaries a

[2016-06-05 15:14] buildersbrewery commented on #1
Problem with how it is now, is that you override anything users already have installed language wise.

[2016-06-05 16:24] buildersbrewery commented on #1
@XenHat see #2 for proposed changes.

[2016-06-05 16:30] buildersbrewery commented on #1
I could add something along the lines of

[code]

to reference the lslint dependency if you plan on further working on the binary only git repo you created yesterday. However that would require publishing it first via PackageControl dependencies.

[2016-06-10 07:43] buildersbrewery commented on #1
Another dependencies example:
- I added tooltips via PR to Makopo/sublime-text-lsl#38.

---

Regarding this discussion, I believe we've come to a halt as of right now. Have nothing to add to the README.

[2016-06-11 14:50] XenHat commented on #1
Okay. I look forward the completion of the tooltips feature.

[2016-06-18 08:11] buildersbrewery commented on #1
#### Path configuration
- I believe one can add executable paths to PATH via Python temporarily (via `plugin_loaded()` and `plugin_unloaded()`).
- Users should be able to adjust settings for lslint path target.
  - `"path_is": "dependent"` or `"path_is": "custom"`
    - https://packagecontrol.io/docs/dependencies
  - `"path_custom_target": "path/to/where/lslint/is"`

#### Tooltips support

:warnin

[2017-03-07 14:58] buildersbrewery commented on #1
Path issue solved by buildersbrewery/linden-scripting-language@cbc0e4a as far as I can tell. I still need to differentiate for Windows.

[2017-03-09 23:23] XenHat commented on #1
I still struggle to find a way to keep myself updated with  buildersbrewery/linden-scripting-language since I cannot install it as a package, so my involvement is a little complicated at the moment. But good job finding how to do this 👍

[2017-04-12 12:50] XenHat commented on #1
I haven't given up on this but I do not know where to pick up anymore. I would like to avoid having to install 8 packages just to script in sublime-text, but the buildersbrewery "package" isn't an actual "package" I can throw at a new sublime-text installation. Until this issue is solved, I cannot really do any work toward integrating more closely.
 Ideally I would want to have makopo/lslint as th

[2017-05-11 13:27] buildersbrewery commented on #1
A few thoughts regarding your questions:

* This repo's functionality could be merged into [makopo/sublime-text-lsl](https://github.com/makopo/sublime-text-lsl)
  * @Makopo is already including the `lslint` binaries from [makopo/lslint](https://github.com/makopo/lslint) within [makopo/sublime-text-lsl](https://github.com/makopo/sublime-text-lsl) so adding the SublimeLinter config file for `*.lsl`

[2017-05-11 13:43] XenHat commented on #1
Due to guidelines on how to name the SublimeLinter third party linters, I would still keep this standalone package, but I am not against adding it to makopo's package **if there is a way to check for SublimeLinter's presence to avoid cruft**

I agree. Rather active work is being done on the lslint code base with Sei's help, this will probably need to be completed, then heavily tested before adding

[2017-05-11 21:00] buildersbrewery opened #4 "Documentation"
- [x] add missing docstrings (⚠️ this should fix Travis)
- [x] mention changes from PR #3 in the README where `lslint` binaries from the LSL package are preferred
- [x]  update Package Control installation message with new instructions

[2017-05-11 21:59] XenHat commented on #4
I'm not quite sure what happens if the user accidentally dismisses the popup, I did it on accident and simply reinstalled the package.

[2017-10-03 20:57] buildersbrewery commented on #1
### SublimeLinter installer

<details>
<summary>SublimeLinter installer script (click here)</summary>

[code]

</details>

### Current state...

Have been updating a lot! Currently going through tooltips... check it out!

<https://github.com/buildersbrewery/linden-scripting-language/tree/master/sublimetext>

[2017-10-04 02:23] XenHat commented on #1
@buildersbrewery H..How do I use this? :D Sorry I'm not that knowledgeable with Sublime-Text internals..

EDIT: For now I cloned bb/lsl into a folder and made a junction to the packages folder so that I can keep in sync more easily

So far I have noticed a problem since upgrading to the latest version of lslint.exe and bb/lsl:
**Linting stops at the first error, which is a problem with preprocesso

[2017-10-04 09:50] Sei-Lisa commented on #1
@XenHat Can you please try to produce an example of something that worked with an earlier version and no longer does, and submit it to the lslint issue tracker?

[2017-10-05 18:15] XenHat commented on #1
@Sei-Lisa created! https://github.com/Makopo/lslint/issues/46

[2017-10-08 17:27] ghost opened #6 "Enhancement request for preprocessors support"
Here is issue that I've posted on lslint repo few days ago: https://github.com/Makopo/lslint/issues/47.
My problem is that your plugin ignores files icluded by preprocessor and produces errors about undeclared variables.

[2017-10-08 17:35] XenHat commented on #6
Very interesting. I'll look into it. Thanks for using my plugin!

P.S. I was aware of the issue but I did not know it was even fixable. @Sei-Lisa is very knowledgeable 🥇

[2017-10-08 17:37] ghost commented on #6
@XenHat Thank you very much! Your plugin is awesome! :1st_place_medal:

[2017-10-08 19:02] Sei-Lisa commented on #6
In case it helps, I only see two possibilities around this.

One is to invoke the preprocessor on a file and open the output in a dedicated window if that is possible with this editor, then run lslint on that (the `-i` option of lslint will skip over the `#line` directives that mcpp generates; GNU cpp generates `#` lines instead with identical function). The user will have to match manually every

[2017-10-08 19:05] XenHat commented on #6
Right now, I am attempting to preprocess the file in-place by calling mcpp using the linter class, so far I got... About halfway, I'd say:

![image](https://user-images.githubusercontent.com/980408/31319937-23f6b2cc-ac3a-11e7-931f-5e7607537ebc.png)

[2017-10-08 19:08] Sei-Lisa commented on #6
Wow! :+1:

[2017-10-08 19:30] XenHat commented on #6
<strike>Well, so far I suffer from the same issue with `#line` and I cannot seem to be able to regex it out.. So I believe that the best thing to do for the time being is to do as you suggested and make `-i` ignore `line`, until it can be implemented properly. </strike>

![image](https://user-images.githubusercontent.com/980408/31320163-e15d553e-ac3d-11e7-80cf-f7afc5ee6660.png)

Having an issue wi

[2017-10-08 20:11] Sei-Lisa commented on #6
what should that regex do? catch `#line (number) (file)`?

[2017-10-08 20:14] XenHat commented on #6
Yeah, I was hoping to be able to "ignore" that specific error, but I was being tired, I think.
I could always remove the `#line` lines from the `mcpp` output but I'm not sure what would break.. probably nothing?

[2017-10-08 20:23] XenHat commented on #6
Progress:
[code]

[2017-10-08 20:25] Sei-Lisa commented on #6
Well, if you remove `#line` from the preproc output you're doing the work that `-i` does.

The trick here is to remember the `#line` directives and the lines where they appear. When an error is emitted in a certain line, you have to look up which is the last `#line` directive that was last seen before that line number, and replace the line in the report with the content of the `#line` directive, p

[2017-10-08 20:30] XenHat commented on #6
Yeah, I can't figure a way to make this happen with the facilities SublimeLinter provides. That might be better to leave this to lslint indeed.

[2017-10-08 20:39] Sei-Lisa commented on #6
Hm, but the snapshot above suggests that you have access to the preprocessor output and to lslint's output. Can't you then filter lslint's output to make lines match as required, before giving them back to the editor? That sounds like basic piping to me.

[2017-10-08 20:40] XenHat commented on #6
That is correct, and definitely possible, but beyond my mental gymnastic abilities right now.

[2017-10-08 20:50] Sei-Lisa commented on #6
Would it help if I give you a Python function that takes two strings, one the preprocessor output and the other the lslint output, and gives you another string with the filtered lslint output? Perhaps in a different format, with file path information?

[2017-10-08 20:54] XenHat commented on #6
I'm not sure... I'm pretty tired, I probably need to rest on this. String manipulation with offsets really isn't my part of the things I'm good at, and I don't think I've done something close enough to something like this to know __what__ to do.

[2017-10-08 21:10] XenHat commented on #6
I pushed what I have done so far, be aware that it breaks the linter due to mcpp forcefully inserting at least one `#line`. I'll resume work tomorrow

[2017-10-09 08:20] Sei-Lisa commented on #6
This is my take on the process:

- Call `mcpp` on the input text and capture the output.
- Process it with Python, parsing `#line` and remembering which line number in the file every `#line` directive is. I suggest to `'\n'.split()` the output into a list for this purpose, and loop over it with a numeric index. I suggest using a list of tuples `(preprocessor line, target line, file name)` but up t

[2017-10-09 19:14] XenHat commented on #6
More progress
![image](https://user-images.githubusercontent.com/980408/31354462-7e4bc2e2-ad04-11e7-9010-db4a5ad5416c.png)

[2017-10-09 19:26] XenHat commented on #6
@Sei-Lisa is there a way to make `mcpp` not include the `<stdin>` library? my version doesn't have the `-nostdinc` switch :(

EDIT3: After adding additional lines to my script, I see how lslint handles `#line` (I was getting `index out of range` errors).
Using the standalone lslint appears to have fixed my issue with it not handling `-i`

[2017-10-09 20:33] Sei-Lisa commented on #6
"stdin" is not a library. It has nothing to do with libraries (you may be confusing it with "stdio.h", a standard C library). "stdin" stands for "standard input" and it is the default pipe programs read from. When mcpp reads a file from standard input as opposed to a file you specify, the file parameter in `#line` is `"<stdin>"`.

[2017-10-09 20:36] XenHat commented on #6
Ah, right. I pretty much have to use standard input right now, because I can't figure how to "get" the file name without creating a new temporary one... Not something I feel like doing.

<strike>I'm currently hitting a wall with getting the values out of a namedtuple, python is being silly... This might take a few more hours. :/
(Python seems to flatten my tuple into a long array, so i'm having is

[2017-10-09 20:55] Sei-Lisa commented on #6
Yeah, so just replacing `<stdin>` with the input filename should work.

Edit: been there :)

[2017-10-09 20:57] XenHat commented on #6
well, getting the file name is difficult, as mentioned. So whatever (currently hidden/unknown) functionality that relies on that will be broken until I find how..

[2017-10-10 00:23] #1 closed, assigned to nobody

[2017-10-10 00:32] buildersbrewery commented on #6
@XenHat http://www.sublimetext.com/docs/3/api_reference.html#sublime.View and there `file_name()`

[2017-10-10 01:36] XenHat commented on #6
Having absolutely no luck getting the API to return me file name, giving up for now. `view` just doesn't appear to work in SublimeLinter... Best I can get is a pointer, then undefined references or missing required positional arguments... on example code that should work.

Plus, it works, so <strike>who cares</strike>that can be left for later when something requires it and I manage to make this w

[2017-10-10 15:17] XenHat commented on #6
@Winterwolf Could you please test the latest version (just update via package control) and see if this works for you?

[2017-10-10 15:43] XenHat commented on #6
@Sei-Lisa How do you deal with comments? I started testing on a larger script and I'm experiencing issues 😳
![image](https://user-images.githubusercontent.com/980408/31396035-4c8bb06c-adb0-11e7-89cb-ff60c90446ae.png)

Even 5ce0632 doesn't appear to fully help

[2017-10-11 00:14] Sei-Lisa commented on #6
I have no idea how you got that, but I haven't checked your code. The preprocessor removes comments and inserts `#line` to sync:

[code]

Note the `#line 8 "<stdin>"` directive at line 5 of the output. That indicates that the line following it (the `default{timer(){error1;` line) is line 8 in the original file. Therefore, when lslint finds an error at line 6 of the mcpp output, you have to transla

[2017-10-11 00:37] XenHat commented on #6
Hmmm It was my understanding that the mcpp line would always be higher than the original file, which may be causing this behaviour on some scripts and not all.
I will revise the code tomorrow and try to find a way to make this smarter.

my very naive function is the following:
[code]
The parameters that are given to it are a named tuple of your suggested format, and a number, which is the line num

[2017-10-11 00:44] Sei-Lisa commented on #6
I don't understand the second loop, probably because I don't understand what the type of `rest.pline` is.

Edit: also, you're doing nothing with `line`.

Edit2: I don't understand that you're passing it a tuple either. I figured you'd be passing it a list with all the `#line` directive tuples: `(location, parameter, filename)` meaning that at line `location` there's a `#line` directive with parame

[2017-10-11 00:58] XenHat commented on #6
Uh, you are correct, I am passing the list of tuples. I confused myself with my own code.

I'm not actually using line, no, simply iterating through them. it's kind of hacky? And probably incomplete. This is pretty complicated for me, I don't have much experience with nested loops and that kind of code, and I barely know python.

`rest` is to `T` what `line` is to `rest.pline`, it's just the curre

[2017-10-11 01:47] XenHat commented on #6
I added some more debug for when I am more rested:

[code]

[2017-10-11 03:16] Sei-Lisa commented on #6
I'm still scratching my head about the second loop.

After all this discussion, I've now made a quick and dirty implementation for the optimizer. I've added an assertion that the error can never be in the `#line` directive, because that makes no sense and it would be ambiguous. See Sei-Lisa/LSL-PyOptimizer@1071941

[2017-10-11 10:04] Sei-Lisa commented on #6
One suggestion: why not work on a branch until you have it complete, so you don't affect master?

[2017-10-11 16:14] XenHat commented on #6
I dislike branching in `git`, I tend to screw it up (this might be SourceTree's fault too). So I hadn't thought about it. I shall branch out.

[2017-10-11 16:31] XenHat commented on #6
@Sei-Lisa Yeah, that second loop is probably not needed. This is likely a vestigial loop from a refactored example.

I'm more a "one feature a day" kind of person, I typically don't draw implementation over several days so my thought process is a bit hectic at the moment

[2017-10-11 18:35] ghost commented on #6
@XenHat Today I reinstalled my OS and noticed that your plugin is not working anymore. Is it I broke something or you?

[2017-10-11 18:52] XenHat commented on #6
@Winterwolf I removed my local package and installed the copy served by package control and the preprocessor-free behavior works as intended. Preprocessor is going to need some more work, I didn't notice some things broke pretty badly so I reverted it

[2017-10-11 19:24] Sei-Lisa commented on #6
There's one problem I forgot about. LSL accepts multiline strings, but the preprocessor doesn't. I solved it in my optimizer and in Firestorm by doing a "pre-pre-processor" pass that converted multiline strings to single-line using \n.

[2017-10-11 19:25] XenHat commented on #6
That's a good thing to be aware of. Even though I by principle never use them, I usually just += them if I have to carriage return

EDIT: Day off for me today, I will resume work on this tomorrow

[2017-10-11 19:45] ghost commented on #6
@XenHat so, current version should work (without preprocessor support)? I don't understand what's wrong. I have your plugin, it is enabled, I have lslint in system path, but there is no errors:

![screenshot](http://i.imgur.com/54KkoQv.png)

...But lua linter works fine. Maybe you mean that current version is temporary disabled? My english is not so well, sorry for stupid question :<

[2017-10-11 23:32] Sei-Lisa commented on #6
I have now taken a look at your code. The problem seems to be that you don't take into account `orig_line` at all (the line number parameter of the `#line` directive). Not sure how to embed it within your code structure. Perhaps making getLastOffset set `result = rest.mcpp_in_ine - rest.orig_line` instead.

Note also that the lines reported by lslint are 1-based, so you need to subtract 1 when pas

[2017-10-12 00:03] Sei-Lisa commented on #6
I've added my comments to your code [here](https://github.com/XenHat/SublimeLinter-contrib-lslint/commit/6d96a766ee50babaa5219a0c97871f5c834a639f?diff=unified), [here](https://github.com/XenHat/SublimeLinter-contrib-lslint/commit/246591d118f5789c1e504432e6dea14eaf44755b) and [here](https://github.com/XenHat/SublimeLinter-contrib-lslint/commit/5ce0632012574d717c3bc624b81236c1c11726aa).

[2017-10-12 17:17] XenHat commented on #6
So far, so good:
![image](https://user-images.githubusercontent.com/980408/31509504-bf1de960-af4f-11e7-98b2-78720bd93393.png)

[2017-10-12 17:23] XenHat commented on #6
EDIT: After reading your comments, this is improving

[2017-10-12 17:27] XenHat commented on #6
@Winterwolf I have not tested the changes on Linux. Try enabling SublimeLinter's debug mode, and looking at the Sublime Text console ( CTRL+ ` key)

Also make sure you are using the latest lslint release from [Makopo/lslint](https://github.com/Makopo/lslint/releases), not the LSL package

[2017-10-12 17:41] XenHat commented on #6
The offset math/logic appears to be wrong still, but it's.. close?
![image](https://user-images.githubusercontent.com/980408/31511045-78788e20-af54-11e7-997b-ea00e5af30ec.png)

Adding more meaningful debug is getting somewhere
[code]

[2017-10-12 18:00] XenHat commented on #6
@Winterwolf
Hopefully the latest commit helps (Try adding my repository to package control to automatically get the latest commit)
![image](https://user-images.githubusercontent.com/980408/31511432-b80dc540-af55-11e7-9add-be35f0711daa.png)
[code]

[2017-10-12 18:51] Sei-Lisa commented on #6
Yes, making it integer chokes in the loop that I said would choke :)

I think you misunderstood something. There are two independent issues related to off-by-one problems.

1. The line number coming from lslint is 1-based. This implies that you need to subtract 1 from it when *passing it* to `getLastOffset`, because the lines in your program are 0-based. That's unrelated to the other offset. The l

[2017-10-12 18:54] Sei-Lisa commented on #6
It seems you've actually already done that. Is there anything left that is not working? What happens when the error is in an include file?

[2017-10-12 18:56] XenHat commented on #6
![image](https://user-images.githubusercontent.com/980408/31513811-74a2c816-af5d-11e7-872c-4d383d20841e.png)

[2017-10-12 19:04] XenHat commented on #6
@Sei-Lisa
[code]
![image](https://user-images.githubusercontent.com/980408/31514131-a426d234-af5e-11e7-8144-6d61f70a2860.png)

[2017-10-12 19:33] ghost commented on #6
@XenHat that is strange. I added your repository, but still `WARNING: lslint deactivated, cannot locate 'lslint'`. I using LSL package **and** have lslint file in my bin folder, so I can get acces to it from terminal, from any place.

![test](https://user-images.githubusercontent.com/405685/31515612-6d15df16-af9e-11e7-8085-4721a0837e8c.png)

[2017-10-12 19:46] XenHat commented on #6
Can you show me the output from the console (or at least a few more lines)? I want to see where it tries to look.
THOUGHT: Perhaps your `.bashrc` or `.profile` adds a location into your path that isn't in the environment sublime-text is started with?

I know I changed some things related to path but I have done no testing from linux to ensure it detected it properly.
EDIT: Calling `lslint` directl

[2017-10-12 19:53] ghost commented on #6
My bin folder added to path via .bashrc and /etc/environment

![test](https://user-images.githubusercontent.com/405685/31516126-10228ec4-afa0-11e7-8443-e2b8af04dff7.png)

[2017-10-12 19:57] XenHat commented on #6
Hmmmm Curious. I will set up a quick Ubuntu and Dropbox (so handy) setup in a few minutes

[2017-10-12 20:00] ghost commented on #6
I tried to run sublime-text exactly from this bin-folder, did not help.

[2017-10-12 20:05] XenHat commented on #6
![image](https://user-images.githubusercontent.com/980408/31516597-1ae2756a-af67-11e7-81dd-2d678453358d.png)

[2017-10-12 20:13] ghost commented on #6
Added symbolic link of lslint to /bin, still not working.

[2017-10-12 20:45] XenHat commented on #6
@Winterwolf fixed

[2017-10-12 20:48] ghost commented on #6
@XenHat confirm! It works now. Thanks :+1:

[2017-10-12 20:49] XenHat commented on #6
Np, my bad 😭

[2017-10-12 20:53] XenHat commented on #6
@Sei-Lisa Concerning what doesn't work still, well... I'm not too sure how to properly describe the issue...
So far, it doesn't work with scripts containing large amounts of preprocessor directives. I shall try with smaller ones.

[2017-10-12 20:56] XenHat commented on #6
The following script:
[code]
Produces the following output:
[code]

[2017-10-12 21:05] Sei-Lisa commented on #6
That's an mcpp warning. Your include file doesn't seem to end in newline. That seems to be a problem in the specifications for includes in the ANSI C preprocessor. Boost::Wave, the preprocessor used in Firestorm, rejects those right away, stopping preprocessing and causing many duplicate issues in JIRA for that reason. mcpp seems to be gentler and reports a warning instead.

You can disable mcpp w

[2017-10-12 21:07] Sei-Lisa commented on #6
That makes little sense. Any example I can examine myself?

[2017-10-12 21:11] XenHat commented on #6
https://github.com/XenHat/Kemono-Body-Script/blob/72bc8869210d6a29b1937174c19e4648bd1b728f/xenhat.kemono.body.lsl

[code]

It does output something, however visual hints are <strike>non-functional</strike> somewhere else

[code]

[2017-10-12 21:31] Sei-Lisa commented on #6
Why `tokminoff = number + int(offset)`? It used to be minus, and I don't think it works with plus.

[2017-10-12 21:32] Sei-Lisa commented on #6
Also, I strongly recommend against `iter_line.replace`.

[2017-10-12 21:34] XenHat commented on #6
it worked better that way? I'm way out of my league here..

What else am I supposed to do? It doesn't modify the original string..

[2017-10-12 21:41] Sei-Lisa commented on #6
a) It's not the right calculation.

b) A regex replacement would be best, but if you're not confident with them, recompose the string from the parts you separated earlier. Put them back together by adding the `WARN:: (` or `ERROR:: (` then the new number then the rest of the line.

[2017-10-12 21:42] XenHat commented on #6
I purposefully avoided regex due to CPU time cost.

[2017-10-12 21:49] Sei-Lisa commented on #6
Don't avoid them. it's probably more costly to perform so many splits and object creation and destruction anyway. We're talking one regex compilation per lint, and one compiled regex match per very short line. Negligible compared to the time that lslint takes to run.

Going back to this:

[code]

The error was presumably on line 1 of the include, right? However 4 - 2 is still 2, not 1, so maybe yo

[2017-10-12 22:59] XenHat commented on #6
@Sei-Lisa That helped, but the line numbers are still wrong on my long script :(
EDIT: Not exactly wrong, simply not matching the editor's view:
![image](https://user-images.githubusercontent.com/980408/31523150-e0c74a2c-af7f-11e7-99c3-c35ee67e1211.png)

[code]

[2017-10-12 23:04] XenHat commented on #6
Ah, I see, it's not putting the right line number back.. D:

[2017-10-12 23:20] XenHat commented on #6
I don't understand, but whatever. b92ee10e5f7634e717f82195eb71684f59610e63

[2017-10-12 23:34] Sei-Lisa commented on #6
I can't help with that. I have no idea what's the input file or any other debug info. The script you pasted gives no errors for me. I guess you're forcing some error somewhere, but no idea where or what the output should be and what it actually is.

[2017-10-13 00:44] XenHat commented on #6
This should work.
![image](https://user-images.githubusercontent.com/980408/31525485-a2980b42-af8e-11e7-871d-62a730c07785.png)

[2017-10-13 12:56] Sei-Lisa commented on #6
I can't even begin to imagine how that `abs()` can be correct in any possible case. Could you give an example that I can reproduce?

Edit: Specifically, I don't see how it can be an improvement in any case, beyond very specific cases similar to the specific time of the day where <s>a stopped clock</s> a clock running backwards gives the correct time.

[2017-10-13 16:15] Sei-Lisa commented on #6
tl;dr version: revert dc92a55 and change the sense of the comparison in `getLastOffset` from `<=` to `>=`.

Long version that I had written when that landed on me:

Let me try to put it this way. Let's for now assume that all line numbers are zero-based, even those coming from lslint, even if it's not true. We need to operate in common units.

[code]

What `#line` is saying is that `a+1` should be

[2017-10-13 16:21] Sei-Lisa commented on #6
That, and reinstate `number - 1` when calling `getLastOffset`. The `- 1` was gone in 2af2961 for some reason.

[2017-10-13 16:31] Sei-Lisa commented on #6
Scratch that. You must look for the last appearance of `a < c` (line with `#line` less than error line), so you must break when `a >= c`. Your break condition is right. If there is a bug, it must be elsewhere.

[2017-10-14 00:00] XenHat commented on #6
That is way more math than I care reading about, sorry.
No, I can't give you an example that works because you mentioned you don't use sublime text, and I already linked you the file I use for my test.

Bug or not, it works right now and I don't want to revisit this until it breaks.

as for why `abs()` works: it gave me a negative index.

[2017-10-14 00:12] XenHat commented on #6
@Sei-Lisa
That was a lot of math but I think I got the gist of it. I had already figured the logic side of it, I guess I just instinctively avoided doing math where I could 😋

As for why `abs()` works: it gave me a correct but negative index when the file is very big. The index is right in small and big files but somehow in my production script it returns a negative version of it, so I just remove

[2017-10-14 00:20] XenHat commented on #6
https://github.com/XenHat/SublimeLinter-contrib-lslint/issues/6#issuecomment-336270734

[2017-10-14 01:14] Sei-Lisa commented on #6
You were not supposed to add it, you were supposed to subtract it. It's what it did in the beginning.

Token - offset = 894 - (-322) = 894 + 322 = 1216

It works.

Edit: "Offset" can be negative. When the line that contains `#line` is less than the parameter of `#line`, it will have a sign, and when it's greater, it will have the opposite sign. Nothing wrong with that. And with the abs, one of the

[2017-10-14 01:28] Sei-Lisa commented on #6
Two cases where the offset has opposite signs:

#### case1.lsl

[code]

#### case2.lsl

[code]

#### long.lsl:

[code]

One of them will fail unless you revert dc92a55. Without the - 1 that was removed in 2af2961, it may fail when the error line is very close to a `#line` directive (one before or one after, not sure).

Edit: I used the same variable in case2.lsl as in long.lsl, so case2 won't have

[2017-10-14 03:48] XenHat commented on #6
Yeah, and with the negative index it breaks on small scripts.

[2017-10-14 04:01] XenHat commented on #6
After reverting:
![image](https://user-images.githubusercontent.com/980408/31572378-c74c180e-b072-11e7-9566-de2aed2153b7.png)

Before:
![image](https://user-images.githubusercontent.com/980408/31572381-cf8c6eec-b072-11e7-984c-c2f82bfab801.png)

None of them are right, but before revert looks better, doesn't it?

[2017-10-14 04:03] XenHat commented on #6
the `-1` that was removed in 2af2961 was put back in the function, but somehow that change got lost somewhere. grrrrrrr.. 😠

[2017-10-14 08:00] Sei-Lisa commented on #6
Yay! :+1:

What can be done about an error in a different file? Can it notify the main linter module, in order to automatically open the right file where the error is and report it? I really hope so.

If not, then I can only think of two alternatives. The ugliest is to just filter out the errors that correspond to a different file. The least bad is to try to guess where the `#include` was, and rep

[2017-10-14 11:16] XenHat commented on #6
RE:edit: No worries. I was too. 😊

About complexity: I'm not afraid of complexity with logic, but I'm pretty trash at math.

About the file thing... well, it would be easier if I could get the name of the file opened in the view, but no matter how I look at it, it seems impossible to get code that works fine in the editor's built-in console to behave properly in my linter plugin. I'm not sure why,

[2017-10-14 15:39] Sei-Lisa commented on #6
Well, if anything, to not spam Winterwolf with technical details. But since I didn't find you online...

The question was not if you can *access* the filename. It's assumed that the main file is open in the editor, therefore you don't need to find its name in principle; you can assume that `"<stdin>"` means the main file and anything else means the file specified in the `#line` directive.

The que

[2017-10-14 15:43] XenHat commented on #6
Ah great, the web profiles decide to break again 🙄  Just paste `secondlife:///app/agent/f1a73716-4ad2-4548-9f0e-634c7a98fe86/im` somewhere and click it :)

[2017-10-14 21:17] buildersbrewery commented on #6
### Reading through `linter.py` at f01e33f thinking out loud:

* https://github.com/XenHat/SublimeLinter-contrib-lslint/blob/f01e33facaaa132eb532c19de4cf537fc7b5691f/linter.py#L109-L112

* https://github.com/XenHat/SublimeLinter-contrib-lslint/blob/f01e33facaaa132eb532c19de4cf537fc7b5691f/linter.py#L150-L152

* https://github.com/XenHat/SublimeLinter-contrib-lslint/blob/f01e33facaaa132eb532c19de4c

[2017-10-15 07:52] XenHat commented on #6
1-3: Fixed
4: `git` is being a git
5: I like to prepare for the worst
6: read the docs, `%` is deprecated
7: I had to.

[2017-10-16 01:01] Sei-Lisa commented on #6
Here's one (lazy) idea for solving the appending of info:

[code]

[2017-10-20 06:54] ghost commented on #6
Sorry if I'm distracting, there is errors on linux again:

[code]

`/usr/bin/mcpp` exists! It is correct path, but not working :/

[2017-10-20 13:14] XenHat commented on #6
Looks like Linux treats the executable path correctly and my hack doesn't work there. My OS broke and I had to reinstall it, so I lost the Linux VM.. this might take a few days :(

[2017-10-20 15:09] XenHat commented on #6
Or not ;)

[2017-10-21 11:09] Sei-Lisa commented on #6
So, if everything goes right, the output of the **top.lsl** example should look like this:

[code]

(The lack of a space at the beginning of the second line is because the regex doesn't capture leading space, but that's only cosmetic.)

This would create two warnings, one at line 1 and the other at line 2 of the main file (**top.lsl**). The first warning would look just as usual. The second warnin

[2017-10-21 14:28] XenHat commented on #6
@Sei-Lisa I'm only getting one warning.. :(
[code]
EDIT: Figured something

[2017-10-21 14:35] Sei-Lisa commented on #6
My bad, apologies. I changed my **top.lsl** like this, and forgot to update the message:

[code]

Before that change, there was nothing wrong with line 1, so no warning was emitted for it.

[2017-10-21 14:36] XenHat commented on #6
Nah, it was something else ^^ my top already looks like this, cleaning up and commiting

[2017-10-21 15:40] XenHat commented on #6
Forgot to tag https://github.com/XenHat/SublimeLinter-contrib-lslint/commit/9802e109101b70e4dd0c83d67aebb27365b201f2

[2017-10-21 16:22] XenHat commented on #6
Implemented the best we could given SublimeLinter's limitations.

[2017-10-21 16:22] #6 closed, assigned to XenHat

[2017-10-21 16:23] #4 closed, assigned to nobody

[2017-11-07 11:05] ghost commented on #6
@XenHat Thank you very much for your work! But I have a noob problem - don't know how to add parameters to lslint (I want to enable lazylists). Tried to edit linter settings like this:

[code]
it did not work.

[2017-11-07 18:45] XenHat opened #7 "Optional lslint switches"
Following #6

I plan to add support for enabling and disabling some lslint switches through configuration and command palette.

I have concerns about the amount of work require to implement the feature how I intend but I created this issue to track the progress on it.

- [ ] parse preprocessor switches such as `#define USE_LAZY_LISTS`
- [ ] add persistent configuration
- [ ] add command palette ac

[2017-11-07 18:53] XenHat commented on #6
@winterwolf see #7 :)

[2017-11-14 16:05] XenHat commented on #7
@winterwolf Sorry it took so long for this, I've got caught up in other work

[2017-11-16 04:16] XenHat opened #8 "WARN:: ( 0, 0): function `lazy_list_set' declared but never used."
@sei-lisa how do I avoid this warning?

[code]

[2017-11-16 09:11] Sei-Lisa commented on #8
Please report it to Makopo/lslint.

[2017-11-16 21:20] #8 closed, assigned to nobody

[2017-11-26 01:54] XenHat opened #9 "Multi-Line strings errors out with MCPP support"
## Offending Code

[code]
## Output:
[code]

Works properly:
[code]

## My environment

* Operating system: `Windows 10 x64`
* Sublime Text Build `3154` on branch `Dev`
* lslint version `1.0.8` from `source`

@Sei-Lisa
Do you believe this can be fixed?

[2017-11-26 04:21] Sei-Lisa commented on #9
It surely can. I anticipated this here: https://github.com/XenHat/SublimeLinter-contrib-lslint/issues/6#issuecomment-335920264 and outlined the solution. Note that the spaces at the beginning of the line *are* significant, therefore the two scripts you've pasted are not equivalent. Even if they were, string concatenation takes code memory even when both strings are constant.

Both FS and LSL-PyOpt

[2017-11-26 05:47] XenHat commented on #9
I'm not sure what Phoenix-Firestorm's license has to do with it, though. I don't work for the Firestorm Viewer Project, nor do I see what connection MCPP has to Firestorm's `boost::wave`-based preprocessor.

[2017-11-26 11:27] Sei-Lisa commented on #9
Both boost::wave and mcpp (as well as others such as GNU cpp) are standard C and C++ preprocessors. Every C/C++ preprocessor rejects multi-line strings per the standard specification, therefore before feeding the script to any of them, the strings need to be folded into one line, otherwise the preprocessor doesn't treat them properly and it may fail in some situations.

The function that does it i

[2017-12-24 13:17] thickbrick opened #10 "Multiline WARN messages from lslint cause an exception in linter.py"
### Offending code
[code]

## Linter output
This is the lslint output that's causing the problem:
[code]

The traceback I get in the console end in this:
[code]

The second line from lslint is not matched by the regex on line 268 of linter.py, which causes `rres` to be `NoneType`.  Maybe check if `rres` exists and append `iter_line.strip()` to the last line in `fixed_output_lines` if it doesn't?

[2017-12-25 20:48] XenHat commented on #10
oh wow, I've never encountered a multi-line error from lslint before. Nice catch! i will fix that as soon as i can.

[2017-12-28 16:20] XenHat commented on #10
@thickbrick Does https://github.com/XenHat/SublimeLinter-contrib-lslint/blob/6674409782a32113e724a1b1e44967bcd5b43989/linter.py solve your issue?

[2017-12-28 22:45] thickbrick commented on #10
Yes, that fixes it.

[2017-12-28 22:45] #10 closed, assigned to nobody

[2018-04-16 16:55] XenHat opened #11 "SublimeLinter 4 support/compatibility"
The package currently does not work with SublimeLinter 4 due to API changes.
Until I find a way to preserve functionality of this plugin, SublimeLinter 3 is the only option.

Turning off automatic package upgrade is not a solution that pleases me but I do not currently have the knowledge/time to re-write the plugin in a way that makes SL4 happy.

[2022-11-02 08:36] buildersbrewery commented on #11
@XenHat I can send you a pull request for SL4 as well as ST4.

`mcpp` isn't supported on macOS 12 (Monterey) or 13 (Ventura). So maybe we can drop preprocessor support there?

@Sei-Lisa do you know of any workarounds for `mcpp` support on newer macOSes?

[2022-11-02 19:26] Sei-Lisa commented on #11
@buildersbrewery clang's cpp is another preprocessor. I hear it's installed with xcode.

[2022-11-04 00:49] XenHat commented on #11
Sure!

I haven't looked into clang as a preprocessor for this, but I like clang a lot so this is fine by me.